#!/bin/bash

#=================================================
# COMMON VARIABLES AND CUSTOM HELPERS
#=================================================

{% if data.use_nodejs -%}
nodejs_version={{ data.nodejs_version }}
{% endif -%}
